<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="1000" alt="cognitiveclass.ai logo"  />
</center>

# Assignment: Exploratory Data Analysis with SQL

Estimated time needed: 60 minutes

# Introduction

Using this R notebook you will perform exploratory data analysis tasks using SQL queries with the RODBC R package. You will not be graded here, but you will be asked to present some of these results in your final assignment, where you will be graded on the accuracy of your results as well as the content of your SQL queries.

### Establish your Db2 connection

Load the 'RODBC' library, and use the 'odbcConnect( )' function as you did in the previous lab to establish the connection to your Db2 assets.\
Provided you successfully loaded your data into the tables in that lab, you are now ready to start running SQL queries using the RODBC library as you did in Course 3.

In [4]:
# provide your solution here
 library(RODBC);

    dsn_driver <- "{IBM DB2 ODBC Driver}"
    dsn_database <- "bludb"            # e.g. "bludb"
    dsn_hostname <- "54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud" # e.g "54a2f15b-5c0f-46df-8954-.databases.appdomain.cloud"
    dsn_port <- "32733"   # e.g. "32733" 
    dsn_protocol <- "TCPIP"            # i.e. "TCPIP"
    dsn_uid <- "mbx73142"        # e.g. "zjh17769"
    dsn_pwd <- "qUmKL2e8KKTIvHxS"      # e.g. "zcwd4+8gbq9bm5k4"  
    dsn_security <- "ssl"

    conn_path <- paste("DRIVER=",dsn_driver,
                  ";DATABASE=",dsn_database,
                  ";HOSTNAME=",dsn_hostname,
                  ";PORT=",dsn_port,
                  ";PROTOCOL=",dsn_protocol,
                  ";UID=",dsn_uid,
                  ";PWD=",dsn_pwd,
                  ";SECURITY=",dsn_security,        
                    sep="")
    conn <- odbcDriverConnect(conn_path)

    # Dump connection info
    ##############################################################
    sql.info <- sqlTypeInfo(conn)
    conn.info <- odbcGetInfo(conn)
    conn.info["DBMS_Name"]
    conn.info["DBMS_Ver"]
    conn.info["Driver_ODBC_Ver"]

Warning message in odbcDriverConnect(conn_path):
“[RODBC] ERROR: state 01000, code 0, message [unixODBC][Driver Manager]Can't open lib 'IBM DB2 ODBC Driver' : file not found”Warning message in odbcDriverConnect(conn_path):
“ODBC connection failed”

ERROR: Error in sqlTypeInfo(conn): first argument is not an open RODBC channel

## Task 1 - Record Count

#### Determine how many records are in the seoul_bike_sharing dataset.

### Solution 1

In [6]:
# provide your solution here
query = "SELECT * FROM SEOUL_BIKE_SHARING"
    sqlQuery(conn,query)
A data.frame: 8465 × 14

ERROR: Error in parse(text = x, srcfile = src): <text>:4:3: unexpected symbol
3:     sqlQuery(conn,query)
4: A data.frame
     ^

## Task 2 - Operational Hours

#### Determine how many hours had non-zero rented bike count.

### Solution 2

In [ ]:
# provide your solution here
query <- "SELECT COUNT(HOUR) FROM SEOUL_BIKE_SHARING WHERE RENTED_BIKE_COUNT <> 0 ;"
    view <- sqlQuery(conn,query)
    view
<int>
1	8465

## Task 3 - Weather Outlook

#### Query the the weather forecast for Seoul over the next 3 hours.

Recall that the records in the CITIES_WEATHER_FORECAST dataset are 3 hours apart, so we just need the first record from the query.

### Solution 3

In [ ]:
# provide your solution here
query <- "SELECT * FROM CITIES_WEATHER_FORECAST WHERE CITY='Seoul' ORDER BY FORECAST_DATETIME LIMIT 1 ;"
    view <- sqlQuery(conn,query)
    view
CITY	WEATHER	VISIBILITY	TEMP	TEMP_MIN	TEMP_MAX	PRESSURE	HUMIDITY	WIND_SPEED	WIND_DEG	SEASON	FORECAST_DATETIME
<fct>	<fct>	<int>	<dbl>	<dbl>	<dbl>	<int>	<int>	<dbl>	<int>	<fct>	<dttm>
1	Seoul	Clear	10000	12.32	10.91	12.32	1015	50	2.18	248	Spring	2021-04-16 12:00:00

## Task 4 - Seasons

#### Find which seasons are included in the seoul bike sharing dataset.

### Solution 4

In [ ]:
# provide your solution here
query <- "SELECT DISTINCT SEASONS FROM SEOUL_BIKE_SHARING;"
    view <- sqlQuery(conn,query)
    view
SEASONS
            <fct>
1	Autumn
2	Spring
3	Summer
4	Winter

## Task 5 - Date Range

#### Find the first and last dates in the Seoul Bike Sharing dataset.

### Solution 5

In [ ]:
# provide your solution here
query <- "SELECT * FROM SEOUL_BIKE_SHARING LIMIT 1;"
    view <- sqlQuery(conn,query)
    view
query <- "SELECT * FROM SEOUL_BIKE_SHARING LIMIT 1 OFFSET 8464;"
    view <- sqlQuery(conn,query)
    view
01/12/2017
30/11/2018

## Task 6 - Subquery - 'all-time high'

#### determine which date and hour had the most bike rentals.

### Solution 6

In [ ]:
# provide your solution here
query <- "SELECT DATE, HOUR, RENTED_BIKE_COUNT FROM SEOUL_BIKE_SHARING WHERE RENTED_BIKE_COUNT = (SELECT MAX(RENTED_BIKE_COUNT) FROM SEOUL_BIKE_SHARING);"
    view <- sqlQuery(conn,query)
    view
DATE	HOUR	RENTED_BIKE_COUNT
<fct>	<int>	<int>
19/06/2018	18	3556

## Task 7 - Hourly popularity and temperature by season

#### Determine the average hourly temperature and the average number of bike rentals per hour over each season. List the top ten results by average bike count.

### Solution 7

In [ ]:
# provide your solution here
query <- "SELECT SEASONS, HOUR, AVG(TEMPERATURE) AS AVG_TEP, AVG(RENTED_BIKE_COUNT) AS AVG_RENT FROM SEOUL_BIKE_SHARING GROUP BY SEASONS, HOUR ORDER BY AVG(RENTED_BIKE_COUNT) DESC LIMIT 10;"
    view <- sqlQuery(conn,query)
    view
SEASONS	HOUR	AVG_TEP	AVG_RENT
<fct>	<int>	<dbl>	<int>
1	Summer	18	29.38696	2135
2	Autumn	18	16.03086	1983
3	Summer	19	28.27283	1889
4	Summer	20	27.06630	1801
5	Summer	21	26.27826	1754
6	Spring	18	15.97222	1689
7	Summer	22	25.69891	1567
8	Autumn	17	17.27778	1562
9	Summer	17	30.07500	1526
10	Autumn	19	15.06049	1515
query <- "SELECT HOUR, AVG(TEMPERATURE) AS AVG_TEP, AVG(RENTED_BIKE_COUNT) AS AVG_RENT FROM SEOUL_BIKE_SHARING WHERE SEASONS = 'Spring' GROUP BY HOUR ORDER BY AVG(RENTED_BIKE_COUNT) DESC LIMIT 10;"
    view <- sqlQuery(conn,query)
    view
query <- "SELECT HOUR, AVG(TEMPERATURE) AS AVG_TEP, AVG(RENTED_BIKE_COUNT) AS AVG_RENT FROM SEOUL_BIKE_SHARING WHERE SEASONS = 'Summer' GROUP BY HOUR ORDER BY AVG(RENTED_BIKE_COUNT) DESC LIMIT 10;"
    view <- sqlQuery(conn,query)
    view
query <- "SELECT HOUR, AVG(TEMPERATURE) AS AVG_TEP, AVG(RENTED_BIKE_COUNT) AS AVG_RENT FROM SEOUL_BIKE_SHARING WHERE SEASONS = 'Autumn' GROUP BY HOUR ORDER BY AVG(RENTED_BIKE_COUNT) DESC LIMIT 10;"
    view <- sqlQuery(conn,query)
    view
query <- "SELECT HOUR, AVG(TEMPERATURE) AS AVG_TEP, AVG(RENTED_BIKE_COUNT) AS AVG_RENT FROM SEOUL_BIKE_SHARING WHERE SEASONS = 'Winter' GROUP BY HOUR ORDER BY AVG(RENTED_BIKE_COUNT) DESC LIMIT 10;"
    view <- sqlQuery(conn,query)
    view
A data.frame: 10 × 3
HOUR	AVG_TEP	AVG_RENT
<int>	<dbl>	<int>
1	18	15.97222	1689
2	17	16.87889	1307
3	19	14.67667	1247
4	16	17.35889	1101
5	20	13.57444	1060
6	8	10.30778	1036
7	21	12.83778	1021
8	15	17.51111	990
9	14	17.36000	925
10	22	12.25222	897
A data.frame: 10 × 3
HOUR	AVG_TEP	AVG_RENT
<int>	<dbl>	<int>
1	18	29.38696	2135
2	19	28.27283	1889
3	20	27.06630	1801
4	21	26.27826	1754
5	22	25.69891	1567
6	17	30.07500	1526
7	8	24.53587	1418
8	16	30.48804	1174
9	23	25.23043	1153
10	15	30.49022	1009
A data.frame: 10 × 3
HOUR	AVG_TEP	AVG_RENT
<int>	<dbl>	<int>
1	18	16.03086	1983
2	17	17.27778	1562
3	19	15.06049	1515
4	8	10.55679	1345
5	20	14.32469	1321
6	16	18.08025	1293
7	21	13.69012	1253
8	15	18.34321	1156
9	22	13.09012	1130
10	14	18.15185	1058
A data.frame: 10 × 3
HOUR	AVG_TEP	AVG_RENT
<int>	<dbl>	<int>
1	18	-0.8355556	438
2	8	-5.3266667	422
3	17	0.1400000	342
4	16	0.9822222	308
5	19	-1.5166667	304
6	15	1.1666667	298
7	14	0.8711111	284
8	13	0.2166667	275
9	12	-0.5666667	263
10	9	-4.8022222	254

## Task 8 - Rental Seasonality

#### Find the average hourly bike count during each season.

Also include the minimum, maximum, and standard deviation of the hourly bike count for each season.

### Solution 8

In [ ]:
# provide your solution here
query <- "SELECT SEASONS, MIN(RENTED_BIKE_COUNT) AS MIN, MAX(RENTED_BIKE_COUNT) AS MAX, STDDEV(RENTED_BIKE_COUNT) AS SD, AVG(RENTED_BIKE_COUNT) AS AVG FROM SEOUL_BIKE_SHARING GROUP BY SEASONS;"
    view <- sqlQuery(conn,query)
    view
SEASONS	MIN	MAX	SD	AVG
<fct>	<int>	<int>	<dbl>	<int>
1	Autumn	2	3298	617.3885	924
2	Spring	2	3251	618.5247	746
3	Summer	9	3556	690.0884	1034
4	Winter	3	937	150.3374	225

Let's explore a bit and see what might be the most significant contributing factors in terms of the provided data.

## Task 9 - Weather Seasonality

#### Consider the weather over each season. On average, what were the TEMPERATURE, HUMIDITY, WIND_SPEED, VISIBILITY, DEW_POINT_TEMPERATURE, SOLAR_RADIATION, RAINFALL, and SNOWFALL per season?

Include the average bike count as well , and rank the results by average bike count so you can see if it is correlated with the weather at all.

### Solution 9

In [ ]:

# provide your solution here
query <- "SELECT SEASONS, AVG(TEMPERATURE) AS TEMP, AVG(HUMIDITY) AS HUMI, AVG(WIND_SPEED) AS WIND, AVG(VISIBILITY) AS VISI, AVG(DEW_POINT_TEMPERATURE) AS DEW, AVG(SOLAR_RADIATION) AS SOLAR, AVG(RAINFALL) AS RAINFALL, AVG(SNOWFALL) AS SNOWSALL, AVG(RENTED_BIKE_COUNT) AS AVG_RENT FROM SEOUL_BIKE_SHARING GROUP BY SEASONS ORDER BY AVG(RENTED_BIKE_COUNT) DESC ;"
    view <- sqlQuery(conn,query)
    view
SEASONS	TEMP	HUMI	WIND	VISI	DEW	SOLAR	RAINFALL	SNOWSALL	AVG_RENT
<fct>	<dbl>	<int>	<dbl>	<int>	<dbl>	<dbl>	<dbl>	<dbl>	<int>
1	Summer	26.587274	64	1.609420	1501	18.750136	0.7612545	0.25348732	0.00000000	1034
2	Autumn	13.821167	59	1.492101	1558	5.150594	0.5227827	0.11765617	0.06350026	924
3	Spring	13.021389	58	1.857778	1240	4.091389	0.6803009	0.18694444	0.00000000	746
4	Winter	-2.540463	49	1.922685	1445	-12.416667	0.2981806	0.03282407	0.24750000	225

## Task 10 - Total Bike Count and City Info for Seoul

#### Use an implicit join across the WORLD_CITIES and the BIKE_SHARING_SYSTEMS tables to determine the total number of bikes avaialble in Seoul, plus the following city information about Seoul: CITY, COUNTRY, LAT, LON, POPULATION, in a single view.

Notice that in this case, the CITY column will work for the WORLD_CITIES table, but in general you would have to use the CITY_ASCII column.

### Solution 10

In [ ]:
# provide your solution here
query <- "SELECT BICYCLES, WORLD_CITIES.CITY, WORLD_CITIES.COUNTRY, LAT, LNG, POPULATION FROM WORLD_CITIES, BIKE_SHARING_SYSTEMS WHERE WORLD_CITIES.CITY=BIKE_SHARING_SYSTEMS.CITY AND WORLD_CITIES.CITY='Seoul';"
    view <- sqlQuery(conn,query)
    view
BICYCLES	CITY	COUNTRY	LAT	LNG	POPULATION
<int>	<fct>	<fct>	<dbl>	<dbl>	<int>
1	20000	Seoul	Korea, South	37.58	127	21794000

## Task 11 - Find all city names and coordinates with comparable bike scale to Seoul's bike sharing system

#### Find all cities with total bike counts between 15000 and 20000. Return the city and country names, plus the coordinates (LAT, LNG), population, and number of bicycles for each city.

Later we will ask you to visualize these similar cities on leaflet, with some weather data.

### Solution 11

In [ ]:
# provide your solution here
query <- "SELECT BICYCLES, WORLD_CITIES.CITY, WORLD_CITIES.COUNTRY, LAT, LNG, POPULATION FROM WORLD_CITIES, BIKE_SHARING_SYSTEMS WHERE BICYCLES BETWEEN 15000 AND 20000 AND WORLD_CITIES.CITY=BIKE_SHARING_SYSTEMS.CITY;"
    view <- sqlQuery(conn,query)
    view
query <- "SELECT BICYCLES, CITY, COUNTRY FROM BIKE_SHARING_SYSTEMS WHERE BICYCLES BETWEEN 15000 AND 20000;"
    view <- sqlQuery(conn,query)
    view
A data.frame: 6 × 6
BICYCLES	CITY	COUNTRY	LAT	LNG	POPULATION
<int>	<fct>	<fct>	<dbl>	<dbl>	<int>
1	19165	Shanghai	China	31.16	121.46	22120000
2	20000	Seoul	Korea, South	37.58	127.00	21794000
3	16000	Beijing	China	39.90	116.39	19433000
4	20000	Weifang	China	36.71	119.10	9373000
5	15000	Ningbo	China	29.87	121.54	7639000
6	20000	Zhuzhou	China	27.84	113.14	3855609
A data.frame: 9 × 3
BICYCLES	CITY	COUNTRY
<int>	<fct>	<fct>
1	16000	Beijing	China
2	20000	Kunshan	China
3	15000	Ningbo	China
4	19165	Shanghai	China
5	20000	Weifang	China
6	20000	Xi'an	China
7	18000	Xuzhou	China
8	20000	Zhuzhou	China
9	20000	Seoul	South Korea

In [ ]:
close(conn)

## Author(s)

<h4> Jeff Grossman </h4>

## Contributor(s)

<h4> Yan Luo, Rav Ahuja </h4>

## Change log

| Date       | Version | Changed by    | Change Description                  |
| ---------- | ------- | ------------- | ----------------------------------- |
| 2021-05-04 | 0.2     | Jeff Grossman | Finalize                            |
| 2021-04-22 | 0.2     | Jeff Grossman | Update as per peer review           |
| 2021-04-10 | 0.2     | Jeff Grossman | Add data sources and implicit joins |
| 2021-04-05 | 0.1     | Jeff Grossman | Start content creation              |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>